<html>
    <head> <tittle> Sistema de control de Ingreso </title>
    <body>
        <H1> Sistema de control de Ingreso </H1>
        <HR>
        <H3> Opciones </H3>
        <UL>
            <LI><a href=/mantenimientos>Mantenimientos></a></LI><P>
            <LI><a href=/procesos>Procesos></a></LI><P>
            <LI><a href=/reportes>Reportes></a></LI><P>
        </UL>
    </body>
</html>