<html>
<head><title>Sistema de control de Ingreso</title>
    <body>
        <H1>Editar Area</H1>
        <HR>
        <form method=post action="/m_areas_grabar_editar">
            <input type=hidden name=xid id=xid value=<%=area._id%>>
            <table border=0>
                <tr><td>Nombre:</td><td><input type=text name= xnom id=xnom size=30 value='<%= area.nombre%>'></td></tr>
                <tr><td>Estado:</td><td><input type=text name= xest id=xest size=10 value='<%= area.estado%>'></td></tr>
                <tr><td>Abreviatura:</td><td><input type=text name= xabr id=xabr size=10 value='<%= area.abreviatura%>'></td></tr>
                <tr><td></td><td><input type=submit value=Grabar></td></tr>
            </table>
        </form>
    </body>
</html>